

.MainHead{
        background-color: #1F2937;
        height:100%;
        display:flex;
        

}

.header-logo{
        font-size: 24px;
        color: #f9faf8;
        
        

}
.nav-link{
        font-size: 18px;
        color: #E5E7EB;
       
        

}
.main-content{
        background-color: #1F2937;


}
.quote-section{
        background-color: #E5E7EB;


}
.quote-here{
        font-size: 36px;
        color: #1F2937;
        font-style:italic;


}
.sign-up-container{
        background-color:#3882F6;

}
.call-to-action-container{
        color:white;
}
.footer{
        background-color: #1F2937;
        color: white;
        display:flex;
        flex-direction: column;
        padding-left: 30%;
        padding-right: 30%;
}